
<head><title>Tickety</title></head>
	
<body>
</br></br></br></br></br></br></br></br>
<div class="row">
	<div class="large-9 small-centered columns">
<center>
<h1 class="title-prebooking">Your Movie Ticket</h1>
<hr>

</div></div>
</center>




	<% @co = current_user.id * 376213  %>
	<% @code = @co.to_s %>
   <% @qr = RQRCode::QRCode.new(@code, :size => 1.3, :level => :l) %>
<div class="row">		
<div class="panel">
<center>
		<h1>Coupon</h1>
<hr>

		<div class="row">
			<div class="large-6 columns">
				<img src="/assets/popcorn.png">
				</div>

			  <div class="large-6 columns">

			<style type="text/css">
			 table {
			  border-width: 0;
			  border-style: none;
			  border-color: #0000ff;
			  border-collapse: collapse;
			 }
			 td {
			   border-width: 0;
			   border-style: none;
			   border-color: #0000ff;
			   border-collapse: collapse;
			   padding: 0;
			   margin: 0;
			   width: 10px;
			   height: 10px;
			 }
			 td.black { background-color: #000; }
			 td.white { background-color: #fff; }
			</style>

			<table>
			 <% @qr.modules.each_index do |x| -%>
			   <tr>
			   <% @qr.modules.each_index do |y| -%>
			    <% if @qr.dark?(x,y) -%>
			    <td class="black"/>
			    <% else -%>
			    <td class="white"/>
			    <% end -%>
			   <% end -%>
			   </tr>
			 <% end -%>
			</table>

		</div>
		</div>


	</div>
	


</div>

<div class="row">
<div class="large-12 columns">
	<div class="panel">
<h3>Instructions:</h3>
<li><h5> Print; make sure the QR code is visible. </h5></li>
<li><h5> Use the printed coupon.  </h5></li>
<li><h5> Enjoy!  </h5></li>
	<br/>
	</div>			
</div>
</div>


<center>
<input type="button" onClick="window.print()" value="Print" class="button"/>
<%= link_to 'Finish', rewardsystem_path, :class => "button" %>
</center>


</br></br></br></br></br></br></br></br>
</body>


